.header-inner {
    display: flex;
    align-items: center;
}

.header-top .header-inner > div,
.header-middle .header-inner > div,
.header-bottom .header-inner > div {
    flex: 1;
}

.top-left {
    display: flex;
    justify-content: flex-start;
}
.top-middle {
    display: flex;
    justify-content: center;
}
.top-right {
    display: flex;
    justify-content: flex-end;
}

.middle-left {
    display: flex;
    justify-content: flex-start;
}

.middle-middle {
    display: flex;
    justify-content: center;
}

.middle-right {
    display: flex;
    justify-content: flex-end;
}

.bottom-left {
    display: flex;
    justify-content: flex-start;
}
.bottom-middle{
    display: flex;
    justify-content: center;
}
.bottom-right{
    display: flex;
    justify-content: flex-end;
}

/*======================================
            Search bar styles
======================================*/

.middle-middle .search-bar {
    width: 100%;
    max-width: 500px;
}

#search-bar {
    width: 100%;
}

#search-query {
    width: 100%;
    box-sizing: border-box;

    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 25px;

    font-size: 16px;
    outline: none;
}

#search-query:focus {
    border-color: #555;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.top-middle .site-title,
.top-right .acc-link,
.bottom-right .main-navigation .home-link{
    color: #fff;
    text-decoration: none;
}


/*======================================*/
.site-logo img {
    width: 180px;
    height: auto;
}